table, th, td {
  background-color: grey;
  border: 1px solid black;
}

table {
  margin: 60px 40px 20px 40px;
  width: 90%;
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
}

.header {
  text-align: center;
}

.bar {
  display: inline-block;
  height: 60px;
  width: 33%;
  margin-right: -20px;
  text-align: center;
  border: 1px solid blue;
  background-color: E1F4FA;
}

.list {
  margin: 0 40px;
  text-align: left;
  display: inline-block;
  width: 40%;
}

.list-head {
  margin: 0 40px -20px 40px;
  text-align: center;
  display: inline-block;
  width: 40%;
}

.main{
    position:relative;
    width:90%;
    min-width:315px;
}
.left{
    position: absolute;
    top: 40px;
    left: 80px;
    bottom: 20px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 50%;
    background: green;
}
.middle{
    position: relative;
    height: 200px;
    width: 200px;
    top: 40px;
    background: purple;
    margin: auto;
    border: 2px solid black;
}
.right{
    position:absolute;
    top: 40px;
    right: 80px;
    height: 200px;
    width: 200px;
    border: 2px solid blue;
}
